td, th {
	border: 1px solid;
    padding: 12px; /* add padding for spacing */
    text-align: center; /* center text in table cells */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* gives a slight zebera effect to the table */
}

tr:hover {
    background-color: #ff7f50; /* hover effect over the table options */
}

th {
  background-color: #1d5e84; /* Sets the table header (th) background color to a dark blue (#1d5e84) */
  color: white;  /* changes the text color to white for better contrast */
}
 
 img.planet {
    width: 180px;
    height: auto;
    border-radius: 5px;
}

table#planets {
    table-layout: fixed;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; /* center the table */
    border-collapse: collapse; /* remove space between table cells */
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* add slight shadow */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-image: url('../images/background.png');
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center bottom; 
    background-color: #293d48; /* this colour is used to fill up the thing */
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 2.5em;
}


td:first-child {
    font-weight: bold;
    background-color: #f0f0f0;
}