td, th {
	border: 1px solid;
    padding: 12px; /* Add padding for spacing */
    text-align: center; /* Center text in table cells */
}
 
 img.planet {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

table#planets {
    table-layout: fixed;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5em;
}

